#reviews {
	font-family: 'Century Gothic';
 	margin: 80px 0 30px;
}

.clientComment {
	border: 1px solid #e0e0e0;
	border-radius: 5px;	
	padding: 2%;
}

.striped-comment {
	background: #E3F2FD;
}

.black-line {
	border-color: #BDBDBD;
}